body {
    width: 80%;
    margin: 0 auto;
}


.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 50px;
    height: 50px;
}

.lista__navegacao {
    display: flex;
}

.lista__navegacao li {
    list-style: none;
    padding: 1rem;
    /* border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1;
 */}

.lista__navegacao li a {
    text-decoration: none;
    color: #9900ff;
}