
body {
    width: 80%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}


.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

.logo{
    width: 100px;
    height: 100px;
}

.lista__navegacao {
    display: flex;
}

.lista__navegacao li {
    list-style: none;
    margin-right: 3rem;
    /* border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1;
 */}

.lista__navegacao li a {
    text-decoration: none;
    color: #9900ff;
}

.conteudo {
    margin-top: 5rem;
}

.conteudo__lista {
    display: flex;
    flex-wrap: wrap;
}

.conteudo__lista-itens {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    border: 2px solid;
    border-image: conic-gradient(red, aqua, magenta, red) 1;
    padding: 0 0.5rem;
    margin : 0 2rem 1rem 0;
    text-align: center;
    width: calc(30% - 2rem);
}

.receita__imagem {
    width: 100px;
    height: 100px;
}

.receita__titulo {
    color: #6600F9;
}

.conteudo__lista-itens p {
    width: 70%;
}

.rodape {
    padding: 8rem 0 0 0;
    text-align: center;
}

.rodape__copy {
    font-size: 1.5rem;
    color: #6600FF;
    font-weight: bold;
}

.imagem__copyright {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}



