* {
    margin: 0;
    padding: 0;
}
body {
    width: 80%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}


.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

.logo{
    width: 100px;
    height: 100px;
}

.lista__navegacao {
    display: flex;
}

.lista__navegacao li {
    list-style: none;
    margin-right: 3rem;
    /* border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1;
 */}

.lista__navegacao li a {
    text-decoration: none;
    color: #9900ff;
}

.inicio {
    padding-top: 3rem;
    text-align: center;
}

.inicio__imagem {
    width: 100%;
}

.inicio__p {
    font-size: 3rem;
    font-family: cursive;
    color: #720bfa;
}

.conteudo {
    margin-top: 5rem;
}

.conteudo__lista {
    display: flex;
    flex-wrap: wrap;
}

.conteudo__lista-itens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    border: 1px solid rgba(99, 33, 199, 0.8);
    margin : 0 1rem 1rem 1rem;
    text-align: center;
    width: 30%;
    height: 300px;
    flex-shrink: 0;
    border-radius: 10px;
}

.receita__imagem {
    width: 80%;
    height: 100px;
    flex-grow: 2;
}

.receita__titulo {
    color: #6600F9;
}

.conteudo__lista-itens p {
    width: 70%;
    flex-grow: 2;
    margin-top: 1rem;
    color: #720ba1;
    font-size: 1.2rem;
    font-weight: 500;
}

.rodape {
    padding: 8rem 0 5rem 0;
    text-align: center;
}

.rodape__copy {
    font-size: 1.5rem;
    color: #6600FF;
    font-weight: bold;
}

.imagem__copyright {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}


@media (max-width: 1370px) {
    .conteudo__lista-itens {
        width: 45%;
    }
}

@media (max-width: 970px) {
    .logo{
        display: none;
    }

    .navegacao {
        justify-content: space-around;
        justify-content: center;
    }

    .navegacao:nth-child(1) {
       margin-left: 3rem;
    }

    .conteudo__lista-itens {
        width: 100%;
    }

    .lista__navegacao {
        flex-direction: column;
    }

    .lista__navegacao li {
        margin: 0;
        padding: 0.5rem 0;
        border-bottom: #6600F9;
        border-width: 2px;
        border-style: solid;
        border-right: none;
        border-left: none;
        border-top: none;
        width: 100vw;
        text-align: center;
    }

    .conteudo {
        flex-direction: column;
        justify-content: space-around;
    }

    .conteudo__lista-itens {
        margin-bottom: 2rem;
        box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
        border: none;
        border-radius: 10px;
      }
}


